.contactsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
  }
  .contactsItem:not(:last-child) {
    margin-bottom: 20px;
  }
  .contactText {
    font-weight: 700;
  }
  
  .button {
    background-color: hsl(221, 100%, 51%);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .button:hover,
  .button:focus {
    background-color: hsl(106, 100%, 50%);
  }